header
    margin: 0 0.5em 0 0.5em
    font-size: 2em
    text-align: center

footer
    text-align: right

section
    margin: auto
    width: 50%
    padding: 0.2em
    .title
        font-size: 1.2em

.add-block
    display: flex
    align-items: center
    button
        font-size: 1.2em
        padding: 0.1em 1em
        margin-top: 0.8em

.input-item
    display: flex
    margin: 0.5em 2em 0.5em 0em
    flex-direction: column
    justify-content: space-between
    min-width: 10em
    span
        font-size: 0.8em
    input
        height: 1.5em
        font-size: 1.2em
        width: 15em
    select
        font-size: 1.2em
        height: 1.8em

.todo-list
    margin: 1em 0em
    border: 1px solid

.todo-item
    margin: 0.5em
    display: grid
    grid-template-columns: 0.5fr 4fr 1fr 0.5fr
    grid-gap: 0.1em
    .selection
        padding: 0.1em
    .description
        padding: 0.1em
    .priority
        padding: 0.1em
    .actions
        padding: 0.1em
