<header>To-Do List</header>
<section>
  <div appExploreRenderer></div>
  <h4>Add a to-do and its priority</h4>
  <form [formGroup]="addTodoForm" (ngSubmit)="addItem()">
    <label for="newDescription">Todo</label>
    <input
      type="text"
      #newDescription
      placeholder="Enter Description"
      formControlName="newDescription"
      tabindex=“0”
    />
    <label for="newPriority">Priority</label>
    <select #newPriority formControlName="newPriority">
      <option value="Normal">Normal</option>
      <option value="Low">Low</option>
      <option value="High">High</option>
    </select>
    <button type="submit" [disabled]="!addTodoForm.valid">Add</button>
  </form>
  <!-- <form [formGroup]="itemControls">  -->
    <table class="item-form-table">
  <div *ngFor="let item of itemControls.controls;" >
    <tr>
    <ng-container [formGroup]="item">
      <td><input disabled formControlName="description" /></td>
      <td><input disabled formControlName="priority" /></td>
    </ng-container>
    </tr>
  </div>
  </table>
<!-- </form> -->


</section>
<footer>
Copyright Rashmi Dixit 2020
</footer>