.mosaic {
        
  background-color: #f7f7f7;
  border-radius: 3px;
  padding: 20px;
  width: 60%;
  margin: 40px auto;
  counter-reset: items;
  }
.item {
  margin-bottom: 2%;
  border-radius: 3px;
  background-color: #a1cbfa;
  border: 1px solid #4290e2;
  box-shadow: 0 2px 2px rgba(0,90,250,0.05),
      0 4px 4px rgba(0,90,250,0.05),
      0 8px 8px rgba(0,90,250,0.05),
      0 16px 16px rgba(0,90,250,0.05);
  color: #fff;
  padding: 15px;
  box-sizing: border-box;
  }
.break{
  display: none;
}
@media screen and (min-width : 641px){
  .mosaic {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;

  height: 100vh;
  
  background-color: #f7f7f7;
  border-radius: 3px;
  padding: 20px;
  width: 60%;
  margin: 40px auto;
  counter-reset: items;
  }

  .item {
      width: 24%;
  }

  .item:nth-of-type(4n+1) { order: 1; }
  .item:nth-of-type(4n+2) { order: 2; }
  .item:nth-of-type(4n+3) { order: 3; }
  .item:nth-of-type(4n)   { order: 4; }


  .break {
      flex-basis: 100%;
      width: 0;
      border: 1px solid #f7f7f7;
      margin: 0;
      content: "";
      padding: 0;
      display: block;
  }
} 



 @media only screen and (min-device-width: 320px) and 
        (max-device-width: 479px) 
          {
.mosaic {
  display: flex;
  align-content: space-between;
  counter-reset: items;
  flex-direction: column;
  }

  .break{
          display: none;
      }
} 

@media only screen and (min-device-width: 480px) 
             and (max-device-width: 640px) 
             and (orientation: landscape) { 
      .mosaic {
          display: flex;
          flex-flow: column wrap;
          align-content: space-between;
          counter-reset: items;
      }

      .mosaic::before,
      .mosaic::after {
      content: "";
      flex-basis: 100%;
      width: 0;
      order: 2;
      }

      .item:nth-child(3n+1) { order: 1; }
      .item:nth-child(3n+2) { order: 2; }
      .item:nth-child(3n)   { order: 3; }

      .item {
          width: 32%;
      }


      .break{
          display: none;
      }
  }
body { font-family: sans-serif; }
h3 { text-align: center; }